.App {
}

.InitState {
  display: flex;
  height: calc(100vh - 16px);
}

.InitState > div {
  width: 50%;
}

.Sky {
  height: 20%;
  background-color: skyblue;
}

.Plate {
  height: 30%;
  background-color: rosybrown;
}

.Mantle {
  height: 50%;
  background-color: lightcoral;
}

.ControlPanel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: flex-end;
  height: 40%;
  background-color: lightslategray;
  margin-left: -50%;
}

.PlateTypeButton {
  width: 50%;
  height: 50%;
  background-color: aquamarine;
}

.ArrowButtonContainer {
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  width: 30%;
}

.ArrowButton {
  background-color: lightyellow;
}