.App {
  display: grid;
  grid-template-columns: auto auto;
  height: calc(100vh - 16px);
}

.HalfScreen {
  display: grid;
  grid-template-rows: [top] 30% [sky-bottom plate-top] 20% [plate-bottom mantle-top]
    10% [control-panel-top] auto [bottom];
  grid-template-columns: [left] 20% [control-panel-left] auto [control-panel-right] 20% [right];
}

.Sky {
  grid-column: left / right;
  grid-row: top / sky-bottom;
  background-color: skyblue;
}

.Plate {
  grid-column: left / right;
  grid-row: plate-top / plate-bottom;

  display: grid;
  grid-auto-columns: 10%;
  grid-auto-rows: 10%;

  background-color: skyblue;
}

.PlateLand {
  grid-row: 8 / 11;
  background-color: rosybrown;
}

.PlateUnderOcean {
  grid-row: 9 / 11;
  background-color: rosybrown;
}

.PlateOcean {
  grid-row: 8 / 9;
  background-color: aqua;
}

.PlateLeft {
  grid-column: 1 / 10;
}

.PlateRight {
  grid-column: 2 / 11;
}

.Mantle {
  grid-column: left / right;
  grid-row: mantle-top / bottom;
  background-color: lightcoral;
}

.ControlPanel {
  grid-column: control-panel-left / control-panel-right;
  grid-row: control-panel-top / bottom;

  display: grid;
  grid-template-areas:
    "left-plate left-plate right-plate right-plate"
    "left-plate left-plate right-plate right-plate"
    ". arrow-container arrow-container ."
    ". arrow-container arrow-container .";
  background-color: lightslategray;
}

.PlateTypeButton {
  background-color: aquamarine;
}

.ArrowButtonContainer {
  grid-area: arrow-container;

  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
}

.ArrowButton {
  background-color: lightyellow;
}

.StartRestartButton {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 40% auto auto;
  width: 5vw;
  height: 5vw;
  background-color: darkgreen;
  z-index: 10;
}

.TopText {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  text-align: center;
  white-space: pre-wrap;
  z-index: 10;
}