.App {
  display: grid;
  grid-template-columns: auto auto;
  height: calc(100vh - 16px);
}

.HalfScreen {
  display: grid;
  grid-template-rows: [top] 30% [sky-bottom plate-top] 20% [plate-bottom mantle-top]
    10% [control-panel-top] auto [bottom];
  grid-template-columns: [left] 10% [control-panel-left] auto [control-panel-right] 10% [right];
}

.Sky {
  grid-column: left / right;
  grid-row: top / sky-bottom;
  background-color: skyblue;
}

.Plate {
  grid-column: left / right;
  grid-row: plate-top / plate-bottom;
  background-color: rosybrown;
}

.Mantle {
  grid-column: left / right;
  grid-row: mantle-top / bottom;
  background-color: lightcoral;
}

.ControlPanel {
  grid-column: control-panel-left / control-panel-right;
  grid-row: control-panel-top / bottom;

  display: grid;
  grid-template-areas:
    "left-plate-type left-plate-type right-plate-type right-plate-type"
    "left-plate-type left-plate-type right-plate-type right-plate-type"
    ". arrow-container arrow-container ."
    ". arrow-container arrow-container .";
  background-color: lightslategray;
}

.PlateTypeButton {
  background-color: aquamarine;
}

.ArrowButtonContainer {
  grid-area: arrow-container;

  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
}

.ArrowButton {
  background-color: lightyellow;
}

.StartRestartButton {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5vw;
  height: 5vw;
  background-color: darkgreen;
}

.TopText {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
}